{{#bootstrap-modal-form title="Edit Book" submit="submit" cancel="cancel"}}

{{#form-key-capture submit="submit" cancel="cancel"}}

  <h4>Edit Book</h4>

    <div class="form-group">
      <label>Title</label>
      {{input type="text" placeholder="title" class="form-control" valueBinding="title"}}
    </div>

    <div class="form-group">
      <label>Author</label>
      {{input type="text" placeholder="author" class="form-control" valueBinding="author"}}
    </div>

{{/form-key-capture}}

{{/bootstrap-modal-form}}
