<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    {{#link-li}} {{#link-to "rcruds.index"}}Rails Crud{{/link-to}} {{/link-li}}
    {{#link-li}} {{#link-to "mcruds.index"}}Modal Crud{{/link-to}} {{/link-li}}
    <li><a href="#">inline Crud</a></li>
    <li><a href="#">Datatables</a></li>
  </ul>
</div>

