{{top-nav}}
  <div class="container-fluid">
    <div class="row">
      {{side-nav}}

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h5 class="page-header" id='title'>Book Manager</h5>
        <div class="row">
          <div class="col-lg-6">{{outlet}}</div>
        </div>
      </div>


    </div>
  </div>

